.content {
    --background: #4e54c8;  /* fallback for old browsers */
    background: linear-gradient(180deg, #8C83F7 0, #655BE2 100%);
    box-shadow: 0 6px 12px #766DE880;
  
  
    .header {
      margin-top: 100px;
      padding: 10vw;
      color: #fff;
      text-align: center;
  
      .header-icon {
        font-size: 3rem;
        color: #fff;
        margin-bottom: 10px;
      }
  
      h3 {
        font-size: 2rem;
        color: #9d9bef;
        font-weight: 400;
        margin: 0;
      }
  
      h1 {
        font-size: 3rem;
        font-weight: 600;
        margin: 10px 0;
      }
  
      h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: #e0e0e0;
        margin-top: 10px;
      }
    }
  
     .login-form {
         padding: 0 12vw;
         margin-top: 35px;
         ion-item {
             --background: #f8f8f8;
             --padding-start: 33px;
             height: 55px;
             --border-radius: 25px;
             margin-bottom: 30px;
             --placeholder-color: #3a3939;
             --color: #959191;
             ion-icon {
                 color: #959191;
                 font-size: 1.2rem;
                 margin-right: 15px;
             }
             ion-input {
                 --color: #3a3939;
                 font-weight: 500;
             }
         }
  
         .forget-password {
             color: #fff;
             margin-top: 10px;
             text-align: center;
  
             h3 {
                 font-size: 1rem;
                 font-weight: 400;
             }
         }
     }
  
     .login-button {
         width: 50vw;
         --color: #fff;
         background: linear-gradient(to right, #56ab2f, #a8e063);
         margin-top: 60px;
         padding: 10px;
         border-top-right-radius: 30px;
         border-bottom-right-radius: 30px;
         font-size: 1.9rem;
         font-weight: 700;
         display: flex;
         justify-content: flex-end;
         ion-icon {
             margin-left: 10px;
         }
         ion-button {
             --color: #ffffff;
         }
     }
  
     .footer {
         color: #fff;
         padding: 0 12vw;
         margin-top: 90px;
         text-align: center;
         margin-bottom: 20px;
  
         h3 {
             font-size: 1rem;
             font-weight: 400;
  
             span {
                 font-size: 1.2rem;
                 color:#a8e063;
                 font-weight: 500;
             }
         }
     }
  }
  