<ion-content class="content">
  <div class="header">
    <!--Forgot password-->
    <ion-icon class="header-icon" name="mail-open"></ion-icon>
    <h3>Forgot Password</h3>
    <h2>Enter your email to reset your password</h2>
  </div>

  <form [formGroup]="resetPassword" novalidate (ngSubmit)="sendRecoveryEmail()">
    <div class="login-form">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
    </div>

    <div class="login-button">
      <ion-button fill="clear" type="submit">
      Recovery <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
  <div class="footer">
    <h3>Remember your password? <span (click)="navigateToLogin()">login</span></h3>
  </div>



</ion-content>
