<ion-tabs class="pb-4">

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="home" href="../pages/home/home.page.html">
      <i class="bi bi-house-heart"></i>
    </ion-tab-button>

    <ion-tab-button tab="add" href="../pages/add/add.page.html">
      <i class="bi bi-plus-square"></i>
    </ion-tab-button>

    <ion-tab-button tab="partner" href="../pages/partner/partner.page.html">
      <i class="bi bi-heart"></i>
    </ion-tab-button>

   <ion-tab-button tab="account" href="../pages/account/account.page.html">
      <i class="bi bi-person-circle"></i>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
