<ion-content class="content">
  <div class="header">
    <ion-icon [name]="heartIcon" class="header-icon" (click)="toggleHeartIcon()"></ion-icon>
    <h3>Welcome to</h3>
    <h1>Our Moments</h1>
    <h2>Capture and Cherish Every Special Memory</h2>
  </div>

  <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
    <div class="login-form">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="{{ inputType }}" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon *ngIf="loginForm.get('password') && loginForm.get('password')?.value"  name="{{ iconType }}" (click)="togglePassword()" slot="end"></ion-icon>
      </ion-item>

      <div class="footer-inputs">
        <h3>Forgot password? <span (click)="navigateToForgotPassword()">click</span></h3>
      </div>

    </div>

    <div class="login-button">
      <ion-button fill="clear" type="submit">
      Login <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
  <div class="footer">
    <h3>Don't have an account? <span (click)="navigateToRegister()">register now</span></h3>
  </div>



</ion-content>
