<ion-content class="content">
  <div class="header">
    <h3>Join Us</h3>
    <h1>Create Your Account</h1>
  </div>

  <div class="avatar-container">
    <ion-avatar (click)="takePicture()">
      <i class="bi bi-person-circle"></i>
    </ion-avatar>
  </div>
  
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="login-form">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="First Name" formControlName="firstName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="Last Name" formControlName="lastName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input placeholder="Email" formControlName="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="{{ inputType }}" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon *ngIf="registerForm.get('password') && registerForm.get('password')?.value" name="{{ iconType }}" (click)="togglePassword()" slot="end"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input placeholder="Confirm Password" formControlName="confirmPassword" type="password"></ion-input>
        <ion-icon *ngIf="registerForm.get('confirmPassword') && registerForm.get('confirmPassword')?.value" name="{{ iconTypePassword }}" (click)="toggleConfirmPassword()" slot="end"></ion-icon>
      </ion-item>
    </div>

    <div class="login-button">
      <ion-button expand="block" type="submit" fill="clear">
        Register
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
  <div class="footer">
    <h3>Already have an account <span (click)="navigateToLogin()">Login now</span></h3>
  </div>

</ion-content>
