<ion-header>
  <ion-toolbar>
    <ion-title>Add Moment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form-card">
    <ion-item lines="none">
      <ion-icon name="image" slot="start" class="form-icon"></ion-icon>
      <ion-label position="stacked" class="form-label">Select a photo</ion-label>
      <img *ngIf="image" [src]="image"/>
      <ion-button color="dark" expand="block" (click)="takePicture()">
        Take a photo
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="list" slot="start" class="form-icon"></ion-icon>
      <ion-label position="stacked" class="form-label">Select a category</ion-label>
      <ion-select placeholder="Category" [(ngModel)]="selectedCategory">
        <ion-select-option *ngFor="let category of momentCategories" [value]="category">{{ category }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="create" slot="start" class="form-icon"></ion-icon>
      <ion-label position="stacked" class="form-label">Describe what is happening?</ion-label>
      <ion-textarea rows="2" class="form-input" [(ngModel)]="descripcion" required></ion-textarea>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="calendar" slot="start" class="form-icon"></ion-icon>
      <div class="between-label">
        <ion-label position="stacked" class="form-label">Date</ion-label>
        <p (click)="getCurrentDate()" class="btn-get-date">Today</p>
      </div>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="fechaHora" locale="en-US" hourCycle="h12" id="datetime" required></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="location" slot="start" class="form-icon"></ion-icon>
      <ion-label position="stacked" class="form-label">Where was this moment? (optional)</ion-label>
      <ion-input type="text" class="form-input" [(ngModel)]="ubicacion"></ion-input>
    </ion-item>

    <ion-button expand="block" class="form-button" (click)="agregarMomento()" [disabled]="!image || !descripcion || !fechaHora">
      <ion-icon name="add-circle" slot="start"></ion-icon>
      Add Moment
    </ion-button>
  </div>
</ion-content>
