ion-toolbar {
  --background: linear-gradient(180deg, #8C83F7 0, #655BE2 100%);
  box-shadow: 0 6px 12px #766DE880;
}

.form-card {
  max-width: 500px;
  margin: auto;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-label {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.form-input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.form-button {
  border-radius: 10px;
  margin-top: 20px;
}
