

ion-toolbar {
  --background: linear-gradient(180deg, #8C83F7 0, #655BE2 100%);
  box-shadow: 0 6px 12px #766DE880;
  --color: white;
}

.btn-get-date {
  padding: 0 2px 0 2px;
  background: linear-gradient(180deg, #8C83F7 0, #655BE2 100%);
  box-shadow: 0 6px 12px #766DE880;
  color: white;
  border-radius: 5px;
  margin-left: 200px;

}

.between-label {
  display: flex;
  justify-content: space-between;

}

.form-card {
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-label {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.form-input {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.form-button {
  border-radius: 10px;
  margin-top: 20px;
  --background: linear-gradient(180deg, #8C83F7 0, #655BE2 100%);
  box-shadow: 0 6px 12px #766DE880;
  --color: white;
}
